* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Particles */

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}

html {
    /* background-color: #000; */
    height: 100%;
    width: 100%;
    color: #000;
    /* background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%); */
}

.headerflex {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    height: 150px;
    width: 100%;
    max-width: 1300px;
    min-width: 0;
    min-height: 0;
    /* border-bottom: 1px solid #FFF; */
    align-items: center;
    justify-content: space-around;
}

.title {
    text-transform: uppercase; 
    font-size: 20px; 
    margin-top: 30px;
    padding-right: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 10px;
    position: relative;

    -webkit-transition: all .6s;
    transition: all .6s;
}

.title:hover {
    color: #fff;
    letter-spacing: 15px;
    transition: all .3s;
    transition-delay: .3s;
    -webkit-transition: all .3s;
}


.resume {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    /* margin-right: 30px; */
    padding-right: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.resume a,
.about a {
    text-decoration: none;
    color: #000;
    padding: 5px;
}

.resume a::before,
.about a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s ease-in-out;
}

.resume a:hover::before,
.about a:hover::before {
    transform: scaleX(.85);
}

.about {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 100px;
    padding-right: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}


.resume a:hover,
.about a:hover {
    color: #fff;
}


/* Social Icons

.headerflex ul {
    position:absolute;
    top: 9%;
    right: 5%;
    transform: translate(-10%, -10%);
    display:flex;
    margin: 0;
    padding: 0;
}

.headerflex ul li {
    list-style: none;
    margin: 0 50px;
}

.headerflex ul li a .fa,
.headerflex ul li a .fab {
    font-size: 20px;
    color: #262626;
    line-height: 40px;
    transition: .5s;
    padding-left: 6px;
}

.headerflex ul li a {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 35px;
    height: 40px;
    background: #FFF;
    text-align: left;
    padding-left: 5px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(255,255,255,0.8);
}

.headerflex ul li a::before {
    content: '';
    position: absolute;
    top: 7.3px;
    left: -14px;
    height: 100%;
    width: 15px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.headerflex ul li a::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: -7px;
    height: 15px;
    width: 100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.headerflex ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(10px, -10px);
    box-shadow: -20px 20px 20px rgba(255,255,255,0.5);
}

.headerflex ul li:hover .fa,
.headerflex ul li:hover .fab {
    color:#fff;
}

.headerflex ul li:hover:nth-child(1) a {
    background: #3b5998;
}

.headerflex ul li:hover:nth-child(2) a {
    background: #2867B2;
}

.headerflex ul li:hover:nth-child(3) a {
    background: #000;
}

.headerflex ul li:hover:nth-child(1) a::before {
    background: #365492;
}

.headerflex ul li:hover:nth-child(1) a::after {
    background: #4a69ad;
}

.headerflex ul li:hover:nth-child(2) a::before {
    background: #2867B2;
}

.headerflex ul li:hover:nth-child(2) a::after {
    background: #2e73c9;
}

.headerflex ul li:hover:nth-child(3) a::before {
    background: #000;
}

.headerflex ul li:hover:nth-child(3) a::after {
    background: grey;
}

 */
